192.168.137.1:8081 {
    root ./static
    proxy /api 127.0.0.1:8080 {
        transparent
    }
    proxy /ws 127.0.0.1:8080 {
        transparent
        websocket
    }
    gzip
    timeouts 0
    log stdout
}
